<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>ToyLand</title>

    <meta name="google-site-verification" content="AE17W4jnsil1Qzhf3e7sl1vwYJcKdU7IpfT3ZPZr46M" />

    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>

<h1 class="title">🎈 ToyLand</h1>

<div class="container">

    {% for product in products %}

    <div class="card">

        <div class="img-box">
            <img src="{{ product.image.url }}" alt="">
        </div>

        <h2>{{ product.name }}</h2>

        <p class="price">{{ product.price }} $</p>

        <p class="desc">{{ product.description }}</p>

        <button class="btn">خرید 💳</button>

    </div>

    {% endfor %}

</div>

</body>
</html>
