/* TOPBAR */

.topbar{

    width:100%;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px 40px;

    background:
    rgba(255,255,255,0.06);

    backdrop-filter:blur(15px);

    border-bottom:
    1px solid rgba(255,255,255,0.08);

    position:sticky;

    top:0;

    z-index:999;
}

/* لوگو */

.logo{

    font-size:32px;

    font-weight:bold;

    color:white;

    text-shadow:
    0 0 10px rgba(255,255,255,0.3);
}

/* سرچ */

.search-box{

    display:flex;

    align-items:center;

    gap:10px;
}

.search-box input{

    width:300px;

    padding:14px 18px;

    border:none;

    border-radius:50px;

    outline:none;

    background:
    rgba(255,255,255,0.12);

    color:white;

    backdrop-filter:blur(10px);
}

.search-box input::placeholder{
    color:#ddd;
}

.search-box button{

    width:50px;
    height:50px;

    border:none;

    border-radius:50%;

    background:
    linear-gradient(45deg,#7b2dff,#00d0ff);

    color:white;

    cursor:pointer;

    transition:0.3s;
}

.search-box button:hover{

    transform:scale(1.1);
}

/* دسته بندی */

.categories{

    width:95%;

    margin:25px auto;

    display:flex;

    gap:15px;

    flex-wrap:wrap;

    justify-content:center;
}

.categories button{

    padding:12px 22px;

    border:none;

    border-radius:50px;

    background:
    rgba(255,255,255,0.08);

    color:white;

    cursor:pointer;

    backdrop-filter:blur(15px);

    transition:0.3s;

    font-weight:bold;
}

.categories button:hover{

    background:
    linear-gradient(45deg,#7b2dff,#00d0ff);

    transform:translateY(-3px);
}

/* 4 کارت در هر ردیف */

.container{

    width:95%;

    margin:auto;
}

.row{

    display:grid;

    grid-template-columns:
    repeat(4,1fr);

    gap:30px;
}

/* ریسپانسیو */

@media(max-width:1200px){

    .row{
        grid-template-columns:
        repeat(3,1fr);
    }
}

@media(max-width:900px){

    .row{
        grid-template-columns:
        repeat(2,1fr);
    }

    .topbar{

        flex-direction:column;

        gap:20px;
    }

    .search-box input{
        width:220px;
    }
}

@media(max-width:600px){

    .row{
        grid-template-columns:1fr;
    }
}
